// PX to EM/REM conversion
// From https://css-tricks.com/snippets/sass/px-to-em-functions
@function em($pixels, $unit: em, $context: 16px) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	$multiplier: 1em;
	@if ($unit == 'rem') {
		$multiplier: 1rem;
	}
	@return calc($pixels / $context) * $multiplier;
}

// Source - [@Stephn-R] (https://github.com/sass/sass/issues/1395#issuecomment-57483844)
// Description converts 1 or more characters into a unicode
// Input: unicode("e655")
// Output: "\e655"
@function unicode($str) {
    @return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"");
}