// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FORMS
//// --------------------------------------------------------------------------

	// Style block

	button:not(.unstyled) {
		height: 40px;
		line-height: 40px;
		@include mixins.ellipsis;
	}
	button.unstyled {
		padding: 0;
		background-color: transparent;
		border: 0;
	}