// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// RESETS
//// --------------------------------------------------------------------------

	// Style block

	*, *:after,	*:before {
		box-sizing: border-box;
	}

//// ELEMENTS
//// --------------------------------------------------------------------------

	// Colors

	$base-elements-color-01: theme.$color-01; // body background

	// Configuration

	$base-elements-spacing: theme.$spacing-x4; // overall spacing of theme
	$base-elements-body-spacing-vertical: theme.$spacing-x8; // top / bottom spacing for body
	$base-elements-body-spacing-horizontal: 0; // left / right spacing for body

	// Style block

	html, body {
		min-height: 100%;
	}
	body {
		background-color: $base-elements-color-01;
		@if $base-elements-body-spacing-vertical != 0 or $base-elements-body-spacing-horizontal != 0 {
			padding: $base-elements-body-spacing-vertical $base-elements-body-spacing-horizontal;
		}
	}
	p, h1, h2, h3, h4, h5, h6, .spacing-reset > div {
		margin: 0 0 $base-elements-spacing 0;
	}
	.spacing-reset > *:last-child {
		margin-bottom: 0;
	}
	ul:not(.unstyled) {
		margin: 0 0 $base-elements-spacing 0;
		padding: 0 0 0 $base-elements-spacing;
		list-style-type: disc;
	}
	ul.unstyled {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.wrapper {
		max-width: theme.$wrapper-base;
		margin: 0 auto;
		padding: 0 $base-elements-spacing;
	}

//// HELPERS
//// --------------------------------------------------------------------------

	// Colors

	$base-helpers-color-01: theme.$color-01; // scrollbar background
	$base-helpers-color-02: theme.$color-02; // scrollbar foreground

	// Configuration

	$base-helpers-scrollbar-width: 6px; // width of scrollbar

	// Style block

	.sr-only {
		@include mixins.sr-only;
	}
	.pointer {
		cursor: pointer;
	}
	.clearfix {
		@include mixins.clearfix('&');
	}
	.scrollbar {
		@include mixins.scrollbar('&', $base-helpers-scrollbar-width, $base-helpers-color-01, $base-helpers-color-02);
	}