// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FORMS
//// --------------------------------------------------------------------------

button {
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding: 0;
}